.menu-lateral{
    display: grid;
    row-gap: 2rem;
    grid-template-rows: repeat(3, auto) 1fr;
}

.menu-lateral__logo{
    justify-self: center;
}

@media only screen and (min-width: 360px) {
    .menu-lateral{
        display: none;
    }
}

@media only screen and (min-width: 1399px) {
    .menu-lateral{
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    .menu-lateral{
        display: block;
    }
}


